<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(../../assets/log/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()"  class="login100-form validate-form">
        <div class="wrap-input100 validate-input m-b-26" >
          <span class="label-input100">Login</span>
          <input formControlName="login" class="input100" type="text" name="username" placeholder="Enter username" [ngClass]="{'is-invalid': submitted && f.login.errors }">
          <div *ngIf="submitted && f.login.errors" class="validate-form">
            <div *ngIf="f.login.errors.required">First name is required</div>
          <span class="focus-input100"></span>
        </div>
        </div>

        <div class="wrap-input100 validate-input m-b-18">
          <span class="label-input100">Mot De Passe</span>
          <input formControlName="mot_de_passe" class="input100" type="password" name="pass" placeholder="Enter password" [ngClass]="{'is-invalid': submitted && f.mot_de_passe.errors }">
          <div *ngIf="submitted && f.mot_de_passe.errors" class="validate-form">
            <div *ngIf="f.mot_de_passe.errors.required">password is required</div>
            <div *ngIf="f.mot_de_passe.errors.minlength">Password must be at least 6 characters</div>
          </div>
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a href="#" class="txt1">
              Forgot Password?
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

