<div class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
  <div class="page-wrapper">
    <div class="page-content-wrapper">
      <div class="page-content">
      <div class="page-bar">
        <div class="page-title-breadcrumb">
          <div class=" pull-left">
            <div class="page-title">Ajouter un administrateur</div>
          </div>
          <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                   routerLink="/home">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li><a class="parent-item">Les Administrateurs</a>&nbsp;<i
              class="fa fa-angle-right"></i>
            </li>
            <li class="active">Ajouter un administrateur</li>
          </ol>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="card-box">
              <div class="card-head">
                <header>Administrateur</header>
              </div>
<div class="card-body row">
  <div class="col-lg-6 p-t-20">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
      <input class="mdl-textfield__input" type="text" id="txtFirstName" [(ngModel)]="admin.nom">
      <label class="mdl-textfield__label">nom</label>
    </div>
  </div>
  <div class="col-lg-6 p-t-20">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
      <input class="mdl-textfield__input" type="text" id="txtLasttName" [(ngModel)]="admin.prenom">
      <label class="mdl-textfield__label">prenom</label>
    </div>
  </div>
  <div class="col-lg-6 p-t-20">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
      <input class="mdl-textfield__input" type="text" id="txtLasttName" [(ngModel)]="admin.metier">
      <label class="mdl-textfield__label">Metier</label>
    </div>
  </div>
  <div class="col-lg-6 p-t-20">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
      <input class="mdl-textfield__input" type="text"
             pattern="-?[0-9]*(\.[0-9]+)?" id="text5" [(ngModel)]="admin.num_tel">
      <label class="mdl-textfield__label" for="text5">Numéro de Téléphone</label>
      <span class="mdl-textfield__error">Number required!</span>
    </div>
  </div>
  <div class="col-lg-6 p-t-20">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
      <input class="mdl-textfield__input" type="email" id="txtemail"[(ngModel)]="admin.login">
      <label class="mdl-textfield__label">login</label>
      <span class="mdl-textfield__error">Enter Valid Email Address!</span>
    </div>
  </div>
  <div class="col-lg-6 p-t-20">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
      <input class="mdl-textfield__input" type="date" id="date" [(ngModel)]="admin.date_enregistrement">
      <label class="mdl-textfield__label">Date d'enregistrement</label>
    </div>
  </div>
  <div class="col-lg-6 p-t-20">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
      <input class="mdl-textfield__input" type="password" id="txtPwd" [(ngModel)]="admin.mot_de_passe">
      <label class="mdl-textfield__label">Mot de passe</label>
    </div>
  </div>
  <div class="col-lg-6 p-t-20">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
      <input class="mdl-textfield__input" type="password" id="txtConfirmPwd" [(ngModel)]="admin.confirme_mot_de_passe">
      <label class="mdl-textfield__label">Confirmer Mot de passe</label>
    </div>
  </div>
  <div class="col-lg-12 p-t-20">
    <div class="mdl-textfield mdl-js-textfield txt-full-width">
      <textarea class="mdl-textfield__input" rows="4" id="text7" [(ngModel)]="admin.adresse"></textarea>
      <label class="mdl-textfield__label" for="text7">Address</label>
    </div>
  </div>

  <div class="col-lg-6 p-t-20">
    <div
      class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
      <label >{{this.photo}}</label>
      <input class="mdl-textfield__input" type="file" (change)="recuperFile($event)" >
    </div>
  </div>
  <div class="col-lg-12 p-t-20 text-center">
    <button type="button"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink" (click)="addadmin()">Submit</button>
    <button type="button"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" (click)="canccel()">Cancel</button>
  </div>
</div>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
</div>
