<div class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
  <div class="page-wrapper">
    <div class="page-content-wrapper">
      <div class="page-content">
        <div class="page-bar">
          <div class="page-title-breadcrumb">
            <div class=" pull-left">
              <div class="page-title">Tous Les Utilisateurs</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
              <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                     routerLink="/home">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
              </li>
              <li><a class="parent-item">Les Utilisateurs</a>
              </li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card card-topline-purple">
                  <div class="card-head">
                    <header>Les Utilisateurs</header>
                    <div class="tools">
                      <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                      <a class="t-collapse btn-color fa fa-chevron-down"
                         href="javascript:;"></a>
                      <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                  </div>
                  <div class="card-body ">
                    <div class="table-responsive">
                      <table class="table table-striped custom-table table-hover">
                        <thead>
                        <tr>
                          <th>id</th>
                          <th>nom</th>
                          <th>prenom</th>
                          <th>supprimer</th>
                          <th>Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let u of listeutilisateurs">
                          <td>{{u.id}}</td>
                          <td>{{u.nom}}</td>
                          <td>{{u.prenom}}</td>
                          <td><button class="btn btn-danger btn-xs">
                            <i class="fa fa-trash-o" (click)="delete(u.id)"></i>
                          </button></td>
                          <td>
                            <button type="submit" routerLink="/home/utilisateur/{{u.id}}/utilisateurdet" class="btn btn-success btn-xs" >Détails</button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <label>Nom:  </label><br>
        <input [(ngModel)]="utilisateur.nom" name="utilisateur.nom"><br>
        <label>Prenom:  </label><br>
        <input [(ngModel)]="utilisateur.prenom" name="utilisateur.prenom"><br>
        <label>Login:  </label><br>
        <input [(ngModel)]="utilisateur.login" name="utilisateur.login"><br>
        <label>Mot de passe:  </label><br>
        <input [(ngModel)]="utilisateur.mot_de_passe" name="utilisateur.mot_de_passe"><br>
        <label>Confirmer Mot de passe:  </label><br>
        <input [(ngModel)]="utilisateur.confirme_mot_de_passe" name="utilisateur.confirme_mot_de_passe"><br>
        <label>Date d'enregistrement  </label><br>
        <input [(ngModel)]="utilisateur.date_enregistrement" name="utilisateur.date_enregistrement"><br>
        <label>Metier  </label><br>
        <input [(ngModel)]="utilisateur.metier" name="utilisateur.metier"><br>
        <label>Date d'enregistrement  </label><br>
        <input [(ngModel)]="utilisateur.service_demande" name="utilisateur.service_demande"><br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="modiifier()"  data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

