<div class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
  <div class="page-wrapper">
    <div class="page-content-wrapper">
      <div class="page-content">
        <div class="page-bar">
          <div class="page-title-breadcrumb">
            <ol class="breadcrumb page-breadcrumb pull-right">
              <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                     routerLink="/home">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
              </li>
              <li><a class="parent-item">Les projets</a>&nbsp;<i
                class="fa fa-angle-right"></i>
              </li>
              <li class="active">Détails De Projet</li>
            </ol>
          </div>
        </div>


        <div class="card card-topline-aqua">
          <div class="card-body no-padding height-9">
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">Détails de Projet</div>
            </div>
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>Titre</b>
                <div class="col-md-4">
                  <br>
                  <h4>{{detailleprojet.titre}}</h4>
                </div>
              </li>
              <li class="list-group-item">
                <b>Logiciel</b>
                <div class="col-md-4">
                  <br>
                  <h4>{{detailleprojet.logiciel}}</h4>
                </div>
              </li>
              <li class="list-group-item">
                <b>description</b>
                <div class="col-md-4">
                  <br>
                  <h4>{{detailleprojet.description}}</h4>
                </div>
              </li>
              <li class="list-group-item">
                <b>Prix</b>
                <div class="col-md-4">
                  <br>
                  <h4>{{detailleprojet.prix}}</h4>
                </div>
              </li>
              <li class="list-group-item">
                <b>Date</b>
                <div class="col-md-4">
                  <br>
                  <h4>{{detailleprojet.date}}</h4>
                </div>
              </li>
            </ul>
            <!-- END SIDEBAR USER TITLE -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
