<div class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
  <div class="page-wrapper">
    <div class="page-content-wrapper">
      <div class="page-content">
        <div class="page-bar">
          <div class="page-title-breadcrumb">

            <ol class="breadcrumb page-breadcrumb pull-right">
              <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                     routerLink="/home">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
              </li>
              <li><a class="parent-item" >Les Utilisateurs</a>&nbsp;<i
                class="fa fa-angle-right"></i>
              </li>
              <li class="active">Détails De l'utilisateur</li>
            </ol>
          </div>
        </div>



        <div class="card card-topline-aqua">
          <div class="card-body no-padding height-9">
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">Détails de l'utilisateur </div>
            </div>
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>nom</b>
                  <div class="col-md-4">
                    <h4>{{detailleutilisateur.nom}}</h4>
                  </div>
              </li>
              <li class="list-group-item">
                <b>prenom</b>
                <div class="col-md-4">
                  <h4>{{detailleutilisateur.prenom}}</h4>
                </div>
              </li>
              <li class="list-group-item">
                <b>login</b>
                <div class="col-md-4">
                  <h4>{{detailleutilisateur.login}}</h4>
                </div>
              </li>
              <li class="list-group-item">
                <b>mot_de_passe</b>
                <div class="col-md-4">
                  <h4>{{detailleutilisateur.mot_de_passe}}</h4>
                </div>
              </li>
              <li class="list-group-item">
                <b>confirme_mot_de_passe</b>
                <div class="col-md-4">
                  <h4>{{detailleutilisateur.confirme_mot_de_passe}}</h4>
                </div>
              </li>
              <li class="list-group-item">
                <b>date_enregistrement</b>
                <div class="col-md-4">
                  <h4>{{detailleutilisateur.date_enregistrement}}</h4>
                </div>
              </li>
              <li class="list-group-item">
                <b>métier</b>
                <div class="col-md-4">
                  <h4>{{detailleutilisateur.metier}}</h4>
                </div>
              </li>
              <li class="list-group-item">
                <b>service_demandé</b>
                <div class="col-md-4">
                  <h4>{{detailleutilisateur.service_demande}}</h4>
                </div>
              </li>

            </ul>
            <!-- END SIDEBAR USER TITLE -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

