<div class="page-content-wrapper">
  <div class="page-content">
    <div class="page-bar">
      <div class="page-title-breadcrumb">
        <div class=" pull-left">
          <div class="page-title">Profil de l'Admin</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
          <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                 routerLink="/home">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
          </li>
          <li class="active">Profil de l'Admin</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->

          <div class="card card-topline-aqua">
            <div class="card-body no-padding height-9">
              <div class="row">
                <div class="profile-userpic">
                  <img src="../../../assets/img/im2.PNG" class="img-responsive" alt=""> </div>
              </div>
              <div class="profile-usertitle">
                <div class="profile-usertitle-name">Imen Guerfi </div>
                <div class="profile-usertitle-job"> Etudiante </div>
              </div>
              <!-- END SIDEBAR USER TITLE -->

            </div>
          </div>
          <div class="card">
            <div class="card-head card-topline-aqua">
              <header>Profil</header>
            </div>
            <div class="card-body no-padding height-9">
              <div class="profile-desc">
                 Licencié en électronique et télécommunications
                & Etudiante en troisième année ingénierie
                électronique de communication spécialité système électronique intelligent
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-head card-topline-aqua">
              <header>FORMATION</header>
            </div>
            <div class="card-body no-padding height-9">
              <ul class="performance-list">
                <li>
                  <a >
                    <i class="fa fa-circle-o" style="color:#F39C12;"></i> Ecole National d’Electronique et des Télécommunication de Sfax
                    Sales <span class="pull-right">2017-2019 </span>
                  </a>
                </li>
                <li>
                  <a >
                    <i class="fa fa-circle-o" style="color:#DD4B39;"></i> Institut Supérieur d’Informatique et de Multimédia de Gabès
                    Refer <span class="pull-right">2014-2017 </span>
                  </a>
                </li>
                <li>
                  <a>
                    <i class="fa fa-circle-o" style="color:#00A65A;"></i> Institut Préparatoire aux Etude d’Ingénieur de Sfax (IPEIS)
                    <span class="pull-right"> 2013-2014 </span>
                  </a>
                </li>
                <li>
                  <a>
                    <i class="fa fa-circle-o" style="color:#00989C;"></i> Lycée Secondaire de Mezzouna
                    <span class="pull-right"> 2013 </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        <div class="card">
          <div class="card-head card-topline-aqua">
            <header>CERTIFICATS</header>
          </div>
          <div class="card-body no-padding height-9">
            <ul class="performance-list">
              <li>
                <a >
                  <i class="fa fa-circle-o" style="color:#F39C12;"></i> Formation de 24h en Raspberry PI
                  (Centre de formation « TEAM TECHNOLOGY »
                </a>
              </li>
              <li>
                <a >
                  <i class="fa fa-circle-o" style="color:#DD4B39;"></i> Formation de 24h théorique et Pratique
                  en IOT (centre de formation « TOTECT-IT »)
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-circle-o" style="color:#00A65A;"></i> Formation de 12H en Montage vidéo (centre de formation « BPTC »)
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-circle-o" style="color:#00989C;"></i> Introduction à l'apprentissage en profondeur
                  avec les réseaux de convolution CNN
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-circle-o" style="color:#00a65a;"></i> Formation d’un mois Angular et Spring BOOT
                  (centre de formation  « ITGate Training»)
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-head card-topline-aqua">
            <header>PROJETS </header>
          </div>
          <div class="card-body no-padding height-9">
            <ul class="performance-list">
              <li>
                <a >
                  <i class="fa fa-circle-o" style="color:#F39C12;"></i> Mai 2017 : projet tutoré (projet fin d’études):
                  Vers un outil diagnostic assisté par ordinateur (DAO)
                  pour le dépistage de lésion sclérose en plaques en IRM cérébrale.
                </a>
              </li>
              <li>
                <a >
                  <i class="fa fa-circle-o" style="color:#DD4B39;"></i> Mai 2019 : projet fin d’année (PFA):
                  Développement d’une interface d’acquisition et de supervision du signal EMG
                </a>
              </li>

            </ul>
          </div>
        </div>
          <div class="card">
            <div class="card-head card-topline-aqua">
              <header>COMPETENCE LINGUISTIQUES</header>
            </div>
            <div class="card-body no-padding height-9">
              <div class="work-monitor work-progress">
                <div class="states">
                  <div class="info">
                    <div class="desc pull-left">Arabe </div>
                    <div class="percent pull-right">90%</div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-danger progress-bar-striped active"
                         role="progressbar" aria-valuenow="100" aria-valuemin="0"
                         aria-valuemax="100" style="width: 90%">
                      <span class="sr-only">90% </span>
                    </div>
                  </div>
                </div>
                <div class="states">
                  <div class="info">
                    <div class="desc pull-left">Français </div>
                    <div class="percent pull-right">75%</div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-success progress-bar-striped active"
                         role="progressbar" aria-valuenow="40" aria-valuemin="0"
                         aria-valuemax="100" style="width: 75%">
                      <span class="sr-only">75% </span>
                    </div>
                  </div>
                </div>
                <div class="states">
                  <div class="info">
                    <div class="desc pull-left">Anglais</div>
                    <div class="percent pull-right">60%</div>
                  </div>
                  <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-warning progress-bar-striped active"
                         role="progressbar" aria-valuenow="40" aria-valuemin="0"
                         aria-valuemax="100" style="width:60%">
                      <span class="sr-only">20% </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->


    </div>
  </div>
  <!-- end page content -->
</div>
